<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627164806831-q6lhv14pughe016utr3t327it8tluv3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627164806831-q6lhv14pughe016utr3t327it8tluv3m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>627164806831-vbhuh9s0nv08dp7bffbhsfqjg0u5gdtt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQAyk2ULy0t5JDB4BBivfVl43VUn28Osw</string>
	<key>GCM_SENDER_ID</key>
	<string>627164806831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.perdiem.test</string>
	<key>PROJECT_ID</key>
	<string>per-diem-0</string>
	<key>STORAGE_BUCKET</key>
	<string>per-diem-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627164806831:ios:15a534dec4a8371eedde5a</string>
</dict>
</plist>